* {
   --blue: rgb(101, 157, 179);
}



  


 

 .contact {
   height:50vh;
   width:100vw;
 }

 @media (max-width:1000px) {
   .paragraph {
      font-size:0.7rem;
   }
 .about-image img {
   height:8rem;
 }
 
  
 
  
 }