.header {
    position: fixed;
    display:flex;
  
 z-index:2;
    justify-content: space-between;
    align-items: center;
    width:90vw;
    height:6rem;
   padding:1vw 60vw 1vw 4vw;
 .link {
    text-decoration: none;
  
 }
    .logo {
        height:5rem;



        box-shadow: 0px 1px 2px black;
       
        
    }
    

    .menu {

        display:flex;
        align-items: center;
        justify-content: center;
 
     
      
    
       font-weight: bolder;
       font-size:2rem;
       gap:1rem;
       @media only screen and (max-device-width: 1000px) {
        font-size:1rem;
       }
       
       p {
        text-shadow:2px 1px 1px rgb(0, 0, 0);
        
        color:#eeeeee;
        transition: font-size 0.1s ease-out 0.25s;
       }
       p:hover {
        font-size:2.5vw;
       }
    }
}


