.welcome {
    background: linear-gradient(0deg, #3f3f46 0%, #27272a 100%);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align:start;
 .link {
    text-decoration: none;
    color:red;
    background-color:blue
  }
    .welcome-text {
      
    
       overflow:hidden;
     font-size: 4vw;
 
   text-shadow: 2px 1px black;
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   color:white;
 }
 .scroll-down {
    color:white;
   position: absolute;
   bottom:10%;
  animation: fadeInAndOut ease 10s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
 }
 
 @keyframes fadeInAndOut {
    0% {
       opacity:0;
    }
    10% {
       opacity:1;
    }
    20% {
       opacity:0;
    }
    30% {
       opacity:1;
    }
    40% {
       opacity:0;
    }
    50% {
       opacity:1;
    }
 
    60% {
       opacity:0;
    }
 
    70% {
       opacity:1;
    }
 
    
    80% {
       opacity:0;
    }
    90% {
       opacity:1;
    }
    100% {
       opacity:0;
    }
 
 }
 
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
    }
 }
 
 }